<h3>{{currentStateName}}</h3>
<div class="card" >
    <img src="https://images.unsplash.com/photo-1584254520678-31fe4dce5306?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{currentStateName}}</h5>
      <p class="card-text">Some important details about covid-19 on {{currentStateName}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Confirmed:{{confirmed}}</li>
      <li class="list-group-item">Active:{{active}}</li>
      <li class="list-group-item">Recovered:{{recovered}}</li>
      <li class="list-group-item">Deceased:{{deceased}}</li>
    </ul>
  </div>